body{
    font-family: 'Roboto Mono', monospace;
    background:linear-gradient(90deg, rgba(183,181,215,1) 0%, rgba(255,255,255,1) 100%, rgba(0,212,255,1) 100%);
}
#logo{
    width: 10%;
    height: 10%;
}
nav{
    float: right;
    display: flex;
    margin-right: 2%;
    margin-top: 1%;

}
nav li {
    list-style: none;
    display: inline;
    color: black;
    text-decoration: none;
    margin-left: 20px;
}
a {
    text-decoration: none;
    color: black;
}
#marque{
    font-size: 4em;
}
.presentation{

    display: flex;
    text-align: center;
    align-items: center;
}
#velo1{
    width: 40%;
    height: 40%;
    margin-left: 12%;

}
#pres-text{
    width: 35%;
    margin-left: 5%;
}
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}
input[type="text"],
input[type="email"],
textarea::hover {
    background-color: #0056b3;
}

textarea {
    height: 100px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
h1 {
    font-size: 36px; 
    text-align: center;
}
iframe{
    margin-left: 30%;
}