
body{
    font-family: 'Roboto Mono', monospace;
    background: #555;
    /* background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(126,181,204,0.9094012605042017) 100%); */
    font-size: calc(0.2rem + 1.5vw);
    color: white;
}
    
#logo{
    width: 10%;
    height: 10%;
}
nav {
    float: right;
    display: flex;
    margin-right: 2%;
    margin-top: 1%;
    font-size: calc(0.2rem + 1.5vw);
}

nav li {
    list-style: none;
    display: inline;
    position: relative;
    margin-left: 20px;
}
a{
    text-decoration: none;
}
nav li a {
    text-decoration: none;
    color: black;
    position: relative;
}

nav li a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    bottom: 0;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

nav li a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}


#marque{
    font-size: 4em;
}
header{
    margin: 0;
    padding: 0;
    border: 4px solid black;
    background-color: aliceblue;
    border-radius: 5px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-box-shadow: 10px 0px 15px 4px rgba(104,82,94,0.68); 
    box-shadow: 10px 0px 15px 4px rgba(104,82,94,0.68);
}
.presentation{
    margin: auto;
    width: 50%;
    height: 5%;
}
.presentation img{
    width: 300px;
    height: 500px;
}

#pres-text{
    width: 60%;
    text-align: center;
    margin: auto;
}
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}
input[type="text"],
input[type="email"],
textarea::hover {
    background-color: #0056b3;
}

textarea {
    height: 100px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5%;
}

button:hover {
    background-color: #0056b3;
}
h1 {
    font-size: 36px; 
    text-align: center;
}
iframe{
    margin-left: 30%;
}
.produit-container {
    display: flex;
    margin: auto;
}
.photo-prod{
    display: inline-block;
    width: 80%;
    height: 80%;
    align-items: center;
    text-align: center;
    margin-left: 15%;
    margin-top: 20%;
}

#photo-produits {
    -webkit-box-shadow: 10px 0px 15px 4px rgba(104, 82, 94, 0.68);
    box-shadow: 10px 0px 15px 4px rgba(104, 82, 94, 0.68);
    width: 500px;
    height: 500px;
    margin-left: 10%;
    border-radius: 10px;
}

#descriptif {

    display: inline-flex;
    flex-direction: column;
    margin-top: 4%;
    margin-left: 5%;
}
#titre-produits,#prix-produits,#description-produits
,#bouton-commander,#avis-produits,input,textarea{
    display: inline-block;
    border: 2px solid rgb(14, 112, 197);
    margin-bottom: 5%;
    border-radius: 5px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    -webkit-box-shadow: 10px 0px 15px 4px rgba(104,82,94,0.68); 
box-shadow: 10px 0px 15px 4px rgba(104,82,94,0.68);
}


#description-produits{
    width: 400px;
}   
#bouton-commander{
    width: 200px;
}
#avis-produits{
    margin:auto;
    display: block;
}
#titre-avis{
    text-align: center;
    margin-top: 5%;
}
.conteneur-velos {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
    max-width: 100%; 
}


.appercu-velo img {
    width: 300px;
    height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.appercu-velo span {
    margin-left: 10%;
    margin-top: 5%;
    align-items: center;
    text-align: center;
    display: inline-flex;
    border-radius: 20px;
    width: auto;
    height: auto;
}

#info-market-velo{
    background:black ;
    color: aliceblue;
    border-radius: 20px;
}
#titre-market{
    font-size: 3em;
    font-family: Agbalumo,sans-serif;
    text-align: center;
    align-items: center;
}
#info-market-velo:hover{
    border: 2px solid rgb(14, 112, 197);
    border-radius: 5px;
    border-radius:20px;
    text-align: center;
    -webkit-box-shadow: 10px 0px 15px 4px rgba(104,82,94,0.68); 
box-shadow: 10px 0px 15px 4px rgba(104,82,94,0.68);
}
#info-velo:hover {
    background: #0056b3;
    border-radius: 5px;
}
.star {
    font-size: 6em;
    color: gold;
  }
  .etoiles{
    text-align: center;
  }
  #note-moye{
    text-align: center;
  }
.div-tri{
    align-items: center;
    text-align: center;
    margin-top: 10%;
}
.div-tri {
    align-items: center;
    text-align: center;
    margin-top: 10%;
}

#titre-market {
    font-size: 3em;
    font-family: 'Agbalumo', sans-serif;
    text-align: center;
    align-items: center;
}

#form-tri {
    margin-top: 20px;
}
#choix {
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(14, 112, 197);
    border-radius: 5px;
    text-align: center;
}
#icons {
    cursor: pointer;
    display: none;
  }
@media only screen and (max-width: 850px){

    .appercu-velo span {
        margin-left: 18%;
        align-items: center;
        text-align: center;
        display: inline-flex;
        border-radius: 20px;
        width: auto;
        height: auto;
    }
    
}
/* styles.css */

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.tout-foot {
    max-width: 1200px;
    margin: 0 auto;
}



.footer-buttons {
    display: flex;
    justify-content: space-around;
    align-items: flex-end; 
    margin-top: auto; 
}

.bfooter {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 0.5em;
    cursor: pointer;
}

.info-footer {
    margin-top: 20px;
}


.h1footer {
    font-size: 2em;
    color: #4CAF50;
}

.pfooter {
    font-size: 1em;
    color: #ddd;
    margin: 5px 0;
}

.footer-image {
    margin-top: 20px;
}

.footer-image img {
    width: 50px; /* ajustez la taille selon vos besoins */
}
/* Ajoutez ces styles CSS à votre fichier existant */

.map-iframe {
    
    display: block;
    margin: 0 auto;
}


  @media only screen and (max-width: 768px) {
    
    #icons:before {
        content: "\2618";
    }

    nav ul {
        border-top-left-radius: 10px;
        display: flex;
        position: fixed;
        right: -100%;
        top: 10%;
        flex-direction: column;
        background: white;
        width: 100%;
        text-align: center;
        transition: 0.25s ease-in-out;
        padding-left: 30px; 
    }
    
    nav ul::before {
        content: "\2630"; 
        display: block;
        position: absolute;
        left: 0;
        top: 10px; 
        font-size: 20px; 
        color: #333; 
    }
    
    nav li {
        padding: 3px 0;
    }
    
    nav li:hover {
        background: rgb(157, 217, 240);
    }
    
    nav ul:hover {
        right: 0;
        width: 20%;
    }
   
        /* Vos autres styles pour les écrans plus petits */
    
        .appercu-velo img {
            width: 300px;
            height: 300px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        
        .presentation img{
            width: 100px;
            height: 200px;
        }
        #pres-text{
            width: 100%;

        }
        .appercu-velo{
            display: flex;
            flex-direction: column;
            margin-right: 10%
        }
        .map-iframe {
            width: 400px;
            height: 100px;
            display: block;
            margin: 0 auto;
        }
    }
